--find-links https://download.pytorch.org/whl/torch_stable.html
torch>=1.13.0+cu117,<2.6.0
tensorboardX>=2.6.2.2
tensorboard>=1.15.0
transformers>=4.28.1
deepspeed>=0.14.1
huggingface_hub>=0.22.1
numpy>=1.24.3
scipy>=1.12.0
pandas>=2.1.4
datasets==3.2.0
accelerate>=0.26.0
